
.loaded {
 display: inline-block;
 position: relative;
align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0;
 margin:0;
 position:relative;
 -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}

.loaded::after {
position:relative;
display:inline-block;
color: rgb(18, 229,244);
text-transform:uppercase;
animation: loader 11s infinite;
animation-delay: calc(15.s * var(--i));
}

.details {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: auto;
  background-color: azure;
  margin-left: 300px;
}

.details img {
  width: 540px;
  height: auto;
  size: 10px;
  margin-left:0px;
}


.detail:hover{
  transform: scale(1.1);
}

.image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  margin: 30px 30px;
  margin-left: 500px;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap:wrap;
}

.image:hover{
  transform: scale(1.1);
}

.img {

}


.title {
  align-items: center;
  font-size: 80px;
  margin-left: 400px;
  font-family: 'Courier New', Courier, monospace;
}

.Nav {
  background-color: aliceblue;
  width: auto;
  height: px;
}





