.h1 {
  text-align: center;
}


.loaded {
 display: inline-block;
 position: relative;
 background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
 font-family: 'Caveat', cursive;
 font-family: 'Macondo', cursive;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0;
 margin:0;
 font-size: 50px;
}

.loaded::after {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
  justify-content: flex-end;
}

.details {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: auto;
  background-color: azure;
  margin-left: 300px;
}

.details img {
  width: 540px;
  height: auto;
  size: 10px;
  margin-left:0px;
}


.detail:hover{
  transform: scale(1.1);
}

.image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  margin: 30px 30px;
  
}

.image:hover{
  transform: scale(1.1);
}




.title {
  align-items: center;
  font-size: 80px;
  margin-left: 400px;
  font-family: 'Courier New', Courier, monospace;
}

.Nav {
  background-color: aliceblue;
  width: auto;
  height: px;
}